<!-- Footer -->
<footer class="footer bg-dark text-white text-center py-5">
    <div class="container">
        <p class="mb-4">&copy; 2024 TechVerse. All rights reserved.</p>

        <div class="row">
            <div class="col-md-3">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a class="text-white" href="/">Home</a></li>
                    <li><a class="text-white" href="/events/createpage">Create Event</a></li>
                    <li><a class="text-white" href="/events">Events</a></li>
                    <li><a class="text-white" href="/events/categories_events">Categories</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5>About Us</h5>
                <ul class="list-unstyled">
                    <li><a class="text-white" href="/about">About</a></li>
                    <li><a class="text-white" href="/contact">Contact</a></li>
                    <li><a class="text-white" href="#">Login</a></li>
                    <li><a class="text-white" href="#">Sign Up</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5>Follow Us</h5>
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="#" class="text-white"><i class="fab fa-facebook"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="text-white"><i class="fab fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="text-white"><i class="fab fa-linkedin"></i></a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5>Stay Connected</h5>
                <p>Join us for exciting events and stay connected with the latest in technology.</p>
            </div>
        </div>
    </div>
</footer>
