
    <div class="d-flex justify-content-between">
        <button class="btn btn-dark">RSVP Now</button>
        <div>
           <a href="/events/<%= event.id %>/edit">
            <button class="btn btn-outline-secondary btn-sm mr-2">
                <i class="fas fa-edit"></i> Edit
            </button>
           </a>
            <form action="/events/<%= event.id %>/delete" method="POST" style="display:inline;">
                <button type="submit" class="btn btn-outline-danger btn-sm">
                    <i class="fas fa-trash-alt"></i> Delete
                </button>
            </form>
        </div>
    </div>